---
import Image from "./Image.astro";
let QUERY, URLQUERY;

//FETCH MENU ORGANISATION AND LOGO FROM GLOBAL
QUERY = encodeURIComponent(`
*[_type == "global"]{
  links[]{
    nom,
    "url": url->slug,
    subpages[]{
      nom,
      "url": url->slug
    }
  },
  'logo': logo.asset->url,
  'legalUrl': legalUrl->slug,
  "networks":networks[]{nom,url,"svg": svg.asset->url}
}`);
// Compose the URL for your project's endpoint and add the query
// ⚠️ Don't forget to change PROJECT_ID & DATASET from .env
URLQUERY = `https://${
  import.meta.env.PROJECT_ID
}.api.sanity.io/v2021-10-21/data/query/${
  import.meta.env.DATASET
}?query=${QUERY}`;
// fetch the content
// Global is a singleton, so you return the first element of the array (result[0])
let data = await fetch(URLQUERY)
  .then((res) => res.json())
  .then(({ result }) => {
    return result[0];
  })
  .catch((err) => console.error(err));
---

<footer
  class="main-footer relative z-[1] pt-6 lg:pt-12 border-t-4 border-[var(--textColor)] -mt-1">
  <div
    class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-7xl">
    <div class="flex flex-col gap-8 md:flex-row-reverse justify-between">
      <div>
        <a class="main-footer__logo" href="/" title="Retour à l'accueil">
          <Image src={data.logo} alt="logo" />
        </a>
      </div>

      <nav>
        <ul class="flex flex-col items-start md:flex-row gap-4 md:gap-16">
          {
            data.links.map((el) => {
              if (el.url) {
                if (el.subpages) {
                  return (
                    <li>
                      <a href={el.url} class="main-footer__link">
                        <h4 class="text-lg lg:text-2xl">{el.nom}</h4>
                      </a>
                      <ul>
                        {el.subpages.map((sub) => (
                          <li class="text-xs lg:text-base">
                            <a href={sub.url} class="main-footer__link">
                              {sub.nom}
                            </a>
                          </li>
                        ))}
                      </ul>
                    </li>
                  );
                } else {
                  return (
                    <li class="">
                      <a href={el.url} class="main-footer__link">
                        <h4 class="text-lg lg:text-2xl">{el.nom}</h4>
                      </a>
                    </li>
                  );
                }
              } else {
                if (el.subpages) {
                  return (
                    <li class="">
                      <h4 class="text-lg lg:text-2xl px-1 py-0.5">{el.nom}</h4>
                      <ul class="">
                        {el.subpages.map((sub) => (
                          <li class="text-xs lg:text-base">
                            <a href={sub.url} class="main-footer__link">
                              {sub.nom}
                            </a>
                          </li>
                        ))}
                      </ul>
                    </li>
                  );
                } else {
                  return (
                    <li class="">
                      <h4 class="text-lg lg:text-2xl px-1 py-0.5">{el.nom}</h4>
                    </li>
                  );
                }
              }
            })
          }
        </ul>
      </nav>
    </div>

    <div
      class="border-t-2 border-[var(--textColor)] py-2 lg:py-3 mt-8 lg:mt-12">
      <div class="mb-3 lg:mb-0">
        <div
          class="text-sm lg:text-xs flex flex-wrap gap-2 lg:gap-64 justify-center items-center">
          <div
            class="flex flex-wrap items-center justify-center gap-8 huitquatre md:gap-16 px-2 py-4">
            <a
              class="flex flex-wrap items-center justify-center gap-16 no-underline text-base text-center"
              href="https://www.huitquatre.fr">
              <div class="flex flex-wrap items-center gap-4">
                Fait par
                <svg
                  class="h-12 w-12"
                  viewBox="0 0 247.44 202.98"
                  id="logo_small"
                  xmlns="http://www.w3.org/2000/svg">
                  <defs>
                    <style>
                      .util {
                        fill: none;
                      }
                      .bottomleft,
                      .logotype {
                        fill: #2d0000;
                      }
                      .bottomright,
                      .topleft {
                        fill: #970012;
                      }
                      .topright {
                        fill: #bb2649;
                      }
                    </style>
                  </defs><title>logo</title><path
                    class="logotype"
                    d="M27.52,247.28a1.36,1.36,0,0,1-1-.28,1.38,1.38,0,0,1-.28-1v-35.4a1.37,1.37,0,0,1,.24-.87.81.81,0,0,1,.67-.31h7.68c.57,0,.86.36.86,1.07v12.71c0,.2.06.33.17.38s.26,0,.46-.18a13.18,13.18,0,0,1,3.81-2.83,9.24,9.24,0,0,1,3.87-.84,7.06,7.06,0,0,1,5.52,2.19,9,9,0,0,1,2,6.22v17.6q0,1.53-1.44,1.53H43a1.09,1.09,0,0,1-.87-.28,1.56,1.56,0,0,1-.24-1V229.38a2.39,2.39,0,0,0-.67-1.79,2.48,2.48,0,0,0-1.82-.66,3.28,3.28,0,0,0-2,.64,5.17,5.17,0,0,0-1.56,1.91V245.8a1.51,1.51,0,0,1-.36,1.15,1.81,1.81,0,0,1-1.23.33Z"
                    transform="translate(-26.28 -52.72)">
                  </path><path
                    class="logotype"
                    d="M65.28,240a2.27,2.27,0,0,0,1.7.66,3.67,3.67,0,0,0,2-.59,5.68,5.68,0,0,0,1.63-1.5V221.73A1.51,1.51,0,0,1,71,220.6a1.77,1.77,0,0,1,1.2-.35H79a1.28,1.28,0,0,1,1,.3,1.5,1.5,0,0,1,.29,1l-.2,24.59c0,.75-.3,1.12-.91,1.12H71.59q-.87,0-.87-1V244c0-.21,0-.33-.16-.39s-.25,0-.41.18a10.73,10.73,0,0,1-3.58,3,9.64,9.64,0,0,1-4.39,1A6.53,6.53,0,0,1,57,245.52a9.12,9.12,0,0,1-2-6.25V221.78a1.33,1.33,0,0,1,1.49-1.53h7a1.06,1.06,0,0,1,.87.3,1.7,1.7,0,0,1,.24,1v16.58A2.49,2.49,0,0,0,65.28,240Z"
                    transform="translate(-26.28 -52.72)">
                  </path><path
                    class="logotype"
                    d="M93.48,209.71a1.2,1.2,0,0,1,.24.79v6a1.47,1.47,0,0,1-.39,1.13,1.74,1.74,0,0,1-1.2.35H85.36a1.24,1.24,0,0,1-1-.33,1.48,1.48,0,0,1-.28-1v-6.07a1.37,1.37,0,0,1,.24-.87.81.81,0,0,1,.67-.31h7.82A.81.81,0,0,1,93.48,209.71Zm0,10.82a1.08,1.08,0,0,1,.24.74V245.8a1.44,1.44,0,0,1-.39,1.15,1.79,1.79,0,0,1-1.2.33H85.36a1.27,1.27,0,0,1-1-.3,1.46,1.46,0,0,1-.26-1V221.42a1.41,1.41,0,0,1,.24-.87.81.81,0,0,1,.67-.3h7.82A.78.78,0,0,1,93.48,220.53Z"
                    transform="translate(-26.28 -52.72)">
                  </path><path
                    class="logotype"
                    d="M116.3,226.83a1.23,1.23,0,0,1-.89.3H111c-.42,0-.63.22-.63.67v9.79a2.48,2.48,0,0,0,.82,2,4,4,0,0,0,2.54.66h2.07a.77.77,0,0,1,.62.31,1.11,1.11,0,0,1,.24.71l0,4.08a1.49,1.49,0,0,1-1.39,1.53,46.42,46.42,0,0,1-6.48.36,8.87,8.87,0,0,1-5.76-1.78,6.08,6.08,0,0,1-2.21-5V228.05a1.24,1.24,0,0,0-.14-.71.67.67,0,0,0-.58-.21H97.7A1,1,0,0,1,96.55,226v-4.79c0-.65.35-1,1-1h2.84c.35,0,.54-.21.57-.62l.77-7.54c.06-.68.35-1,.86-1h7.06a.83.83,0,0,1,.65.3,1.26,1.26,0,0,1,.26.82v7.44c0,.38.18.57.53.57h4.42c.7,0,1,.32,1,1V226A1.1,1.1,0,0,1,116.3,226.83Z"
                    transform="translate(-26.28 -52.72)">
                  </path><path
                    class="logotype"
                    d="M139,220.55a1,1,0,0,1,.72-.3h4a1.29,1.29,0,0,1,1,.33,1.48,1.48,0,0,1,.29,1v33a1.28,1.28,0,0,1-.24.84.85.85,0,0,1-.67.28h-7.83c-.57,0-.86-.34-.86-1v-8.83c0-.47-.07-.74-.22-.81s-.36,0-.64.25a12,12,0,0,1-2.91,1.84,7.55,7.55,0,0,1-3.05.66,8.94,8.94,0,0,1-5.37-1.61,10.06,10.06,0,0,1-3.48-4.74,20.91,20.91,0,0,1-1.23-7.62,19.72,19.72,0,0,1,1.3-7.43,11.13,11.13,0,0,1,3.7-4.94,9.25,9.25,0,0,1,5.66-1.76,9,9,0,0,1,3.14.53A9.67,9.67,0,0,1,135,221.7a11.41,11.41,0,0,1,2.16,2.27c.29.34.49.29.62-.15l.77-2.35A2.46,2.46,0,0,1,139,220.55Zm-5.21,20.69a6.1,6.1,0,0,0,1.61-1.25V229.73a5.66,5.66,0,0,0-.41-2.19,3.27,3.27,0,0,0-1.15-1.48,3,3,0,0,0-1.75-.51,2.88,2.88,0,0,0-2.07.84,5.81,5.81,0,0,0-1.34,2.66,18.89,18.89,0,0,0-.48,4.71,19.94,19.94,0,0,0,.43,4.65,5.13,5.13,0,0,0,1.25,2.5,2.83,2.83,0,0,0,2,.76A4,4,0,0,0,133.77,241.24Z"
                    transform="translate(-26.28 -52.72)">
                  </path><path
                    class="logotype"
                    d="M158.92,240a2.3,2.3,0,0,0,1.71.66,3.61,3.61,0,0,0,2-.59,5.59,5.59,0,0,0,1.64-1.5V221.73a1.47,1.47,0,0,1,.38-1.13,1.77,1.77,0,0,1,1.2-.35h6.86a1.28,1.28,0,0,1,1,.3,1.45,1.45,0,0,1,.29,1l-.19,24.59c0,.75-.3,1.12-.91,1.12h-7.58q-.87,0-.87-1V244c0-.21-.06-.33-.17-.39s-.24,0-.41.18a10.61,10.61,0,0,1-3.57,3,9.67,9.67,0,0,1-4.39,1,6.52,6.52,0,0,1-5.16-2.27,9.12,9.12,0,0,1-2-6.25V221.78a1.33,1.33,0,0,1,1.48-1.53h7a1.06,1.06,0,0,1,.87.3,1.7,1.7,0,0,1,.24,1v16.58A2.53,2.53,0,0,0,158.92,240Z"
                    transform="translate(-26.28 -52.72)">
                  </path><path
                    class="logotype"
                    d="M191.73,244.63a1.83,1.83,0,0,0-.91.51,10.14,10.14,0,0,1-7,2.65,7.55,7.55,0,0,1-5.59-2.09,7.26,7.26,0,0,1-2.09-5.36,8.15,8.15,0,0,1,1.8-5.22,11.42,11.42,0,0,1,5.14-3.52,22,22,0,0,1,7.8-1.25h.33a.64.64,0,0,0,.72-.72v-.86a3.13,3.13,0,0,0-.7-2.2,2.73,2.73,0,0,0-2.13-.76,4.3,4.3,0,0,0-2.16.56,3.81,3.81,0,0,0-1.59,1.83,1,1,0,0,1-.43.57,2,2,0,0,1-.86,0l-6.29-1.33a.65.65,0,0,1-.53-.43,2.47,2.47,0,0,1,.19-1.2,7.61,7.61,0,0,1,4.13-4.62,18.74,18.74,0,0,1,8-1.45q6.28,0,8.9,2.19a7.65,7.65,0,0,1,2.62,6.22V245.9a2,2,0,0,1-.21,1.08,1.07,1.07,0,0,1-.89.3h-6.58a.9.9,0,0,1-.84-.46,4,4,0,0,1-.41-1.32l0-.36Q192,244.63,191.73,244.63Zm.24-8.77a1.37,1.37,0,0,0-.14-.69.62.62,0,0,0-.58-.23h-.19a6.91,6.91,0,0,0-2.23.46,6.69,6.69,0,0,0-2.33,1.35,2.84,2.84,0,0,0-1,2.22,2.24,2.24,0,0,0,.72,1.73,2.87,2.87,0,0,0,2,.66,3.73,3.73,0,0,0,1.51-.28,4.35,4.35,0,0,0,1.13-.68,4.62,4.62,0,0,0,.81-.9,1.61,1.61,0,0,0,.29-.94Z"
                    transform="translate(-26.28 -52.72)">
                  </path><path
                    class="logotype"
                    d="M223.44,226.83a1.24,1.24,0,0,1-.89.3h-4.47c-.41,0-.62.22-.62.67v9.79a2.45,2.45,0,0,0,.82,2,4,4,0,0,0,2.54.66h2.06a.78.78,0,0,1,.63.31,1.11,1.11,0,0,1,.24.71l-.05,4.08a1.49,1.49,0,0,1-1.39,1.53,46.52,46.52,0,0,1-6.48.36,8.87,8.87,0,0,1-5.76-1.78,6.05,6.05,0,0,1-2.21-5V228.05a1.23,1.23,0,0,0-.15-.71.64.64,0,0,0-.57-.21h-2.31a1,1,0,0,1-1.15-1.12v-4.79c0-.65.36-1,1.06-1h2.83c.35,0,.55-.21.58-.62l.77-7.54c.06-.68.35-1,.86-1h7.05a.82.82,0,0,1,.65.3,1.21,1.21,0,0,1,.27.82v7.44c0,.38.17.57.53.57h4.41c.7,0,1.06.32,1.06,1V226A1.14,1.14,0,0,1,223.44,226.83Z"
                    transform="translate(-26.28 -52.72)">
                  </path><path
                    class="logotype"
                    d="M228.21,247.28a1.26,1.26,0,0,1-1-.3,1.46,1.46,0,0,1-.27-1V221.42c0-.78.31-1.17.92-1.17h7.48a.78.78,0,0,1,.63.28,1.08,1.08,0,0,1,.24.74v2.85c0,.28.09.43.28.46s.37-.07.53-.3a10.1,10.1,0,0,1,3.22-3.22,7.1,7.1,0,0,1,3.74-1.32c1.19,0,1.78.34,1.78,1v7.75a.83.83,0,0,1-.27.71.76.76,0,0,1-.69.11,18.43,18.43,0,0,0-2.16-.41,15.71,15.71,0,0,0-2-.15,4.3,4.3,0,0,0-2,.48,4.42,4.42,0,0,0-1.54,1.3,2.81,2.81,0,0,0-.6,1.68V245.8a1.47,1.47,0,0,1-.38,1.15,1.83,1.83,0,0,1-1.2.33Z"
                    transform="translate(-26.28 -52.72)">
                  </path><path
                    class="logotype"
                    d="M257.2,236.47a4.69,4.69,0,0,0,.65,2.55,4.06,4.06,0,0,0,1.75,1.53,6,6,0,0,0,2.55.51,5.19,5.19,0,0,0,2.49-.64,11.65,11.65,0,0,0,2.74-2.22.71.71,0,0,1,.38-.23,1.52,1.52,0,0,1,.63.18l4.36,1.89a.67.67,0,0,1,.46.48.89.89,0,0,1-.26.74,12.6,12.6,0,0,1-12.1,6.53,13.93,13.93,0,0,1-6.89-1.73,12.74,12.74,0,0,1-4.87-4.82,13.87,13.87,0,0,1-1.78-7,15.2,15.2,0,0,1,1.83-7.52,13.49,13.49,0,0,1,4.89-5.13,12.74,12.74,0,0,1,6.63-1.83,13.11,13.11,0,0,1,6.74,1.73,12,12,0,0,1,4.63,5,17,17,0,0,1,1.68,7.83,2.1,2.1,0,0,1-.14,1,.87.87,0,0,1-.72.31H257.92Q257.2,235.6,257.2,236.47Zm2-10.26a3.62,3.62,0,0,0-1.37,1.54,5.68,5.68,0,0,0-.5,2.55l6.24,0a1.15,1.15,0,0,0,.64-.13c.12-.09.17-.28.17-.59A4.63,4.63,0,0,0,264,228a4.14,4.14,0,0,0-1.1-1.58,2.69,2.69,0,0,0-1.85-.66A3.69,3.69,0,0,0,259.22,226.21Z"
                    transform="translate(-26.28 -52.72)">
                  </path><rect
                    class="logomark topleft"
                    height="53.62"
                    rx="5"
                    width="67.02"
                    x="56.74">
                  </rect><rect
                    class="logomark bottomright"
                    height="53.62"
                    rx="5"
                    width="67.02"
                    x="123.76"
                    y="80.43">
                  </rect><rect
                    class="logomark topright"
                    height="53.62"
                    rx="5"
                    width="33.51"
                    x="157.27">
                  </rect><rect
                    class="logomark bottomleft"
                    height="53.62"
                    rx="5"
                    width="33.51"
                    x="56.74"
                    y="80.43">
                  </rect><polygon
                    class="util h"
                    points="56.74 53.62 56.74 0 23.23 0 23.23 134.05 56.74 134.05 56.74 80.43 90.25 80.43 90.25 134.05 123.76 134.05 123.76 80.43 123.76 53.62 56.74 53.62">
                  </polygon><polygon
                    class="util quatre"
                    points="190.78 80.43 190.78 134.05 224.3 134.05 224.3 0 190.78 0 190.78 53.62 157.27 53.62 157.27 0 123.76 0 123.76 53.62 123.76 80.43 190.78 80.43">
                  </polygon>
                </svg>
              </div>
            </a>
          </div>
          <a href={data.legalUrl}>Mentions Légales</a>

          <div class="flex items-center gap-2 lg:gap-3">
            {
              data.networks.map((el) => (
                <a href={el.url} class="main-footer__social">
                  <Image src={el.svg} alt={`Aller sur ${el.nom}`} />
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  /* --------------------------------

File#: _1_main-footer
Title: Main Footer
Descr: Footer navigation
Usage: codyhouse.co/license

-------------------------------- */
  .main-footer__logo {
    display: inline-block;
  }
  .main-footer__logo svg,
  .main-footer__logo img {
    display: block;
  }

  .main-footer__link {
    @apply px-1 py-0.5 block;
  }
  .main-footer__link:hover {
    background-color: var(--accent1Color);
  }

  .main-footer__social {
    text-decoration: none;
    display: inline-block;
    @apply p-2;
  }
  .main-footer__social:hover {
    @apply bg-[var(--accent1Color)];
  }
  .main-footer__social .icon {
    font-size: 1.2em;
  }
  @media (min-width: 64rem) {
    .main-footer__social .icon {
      font-size: 1em;
    }
  }
</style>
