---
import Image from "./Image.astro";
import { PortableText } from "astro-portabletext";
const { node } = Astro.props;
---

<section
  class="flex flex-col md:flex-row justify-center items-center gap-4 border-b-4 border-[var(--textColor)] py-4">
  <div class="flex-0 w-full md:w-1/2 z-10">
    <h1
      set:html={node.h1}
      class="px-4 text-2xl sm:text-4xl md:text-6xl xl:text-8xl font-extrabold uppercase mb-4"
    />
    {
      node.p && (
        <div class="px-4 text-base md:text-lg xl:text-2xl font-normal mb-8">
          <PortableText value={node.p} />
        </div>
      )
    }
    {
      node.btn && (
        <a
          class="btn border mx-4 hover:border hover:border-[var(--textColor)]"
          href={node.btn.href}>
          {node.btn.ancre}
        </a>
      )
    }
  </div>
  <div class="flex-0 w-full md:w-1/2">
    <Image
      src={node.img.src}
      alt={node.img.alt}
      loading="eager"
      sizes="(min-width: 768px) 50vw, 100vw"
    />
  </div>
</section>
